<div class="row">
	<div> {{ (af.auth | async)?.uid }} </div>
	<button (click)="loginGoogle()" class="btn btn-primary">Login with Google</button>
	<button (click)="loginFacebook()" class="btn btn-primary">Login with Facebook</button>
	<button (click)="loginTwitter()" class="btn btn-primary">Login with Twitter</button>
	<button (click)="logout()" class="btn btn-primary">Logout</button>
	<!--<ul *ngIf="items">
    <li class="text" *ngFor="let item of items | async">
      {{item.$value}}
    </li>
  </ul>-->
</div>

<div style="margin: auto;">
	<div class="row" id="paletteContainer">
		<div class="col-sm-8 col-sm-offset-2">
			<colour-palette></colour-palette>
		</div>
	</div>
</div>