.colorPick{
    display: inline-block;
    margin: 8px;
}
.colorCircle {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.colorPicksContainer{
    /*padding: 0 25%;*/
}

#colorPoolContainer{
    padding: 0 25%;
}

#colorPool{
    height: 150px;
    width: 300px;
    margin: 0 auto;
    border-radius: 50%;
    /*border: white solid 9px;*/
}

#undoRow{
    margin: 25px 0 -45px 0;
}


